<div class="container">
  <div class="row justify-content-center align-items-center h-25">
    <div class="col-7 text-center">
        <h1>LET'S PLAY</h1>
        <h5>Use 
          <i class="material-icons arrows">arrow_upward</i>
          <i class="material-icons arrows">arrow_downward</i>
          <i class="material-icons arrows">arrow_forward</i>
          <i class="material-icons arrows">arrow_back</i>
          to move mario.
        </h5>
    </div>
</div>

  <div class="row justify-content-center align-items-center" style="height:75vh">
    <div class="col-8 text-center">
      <app-maze-box></app-maze-box>
    </div>
  </div>
</div>