.maze-box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 2px;
    vertical-align: text-bottom;
}

.mario {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.mario-green {
    border: 1px solid green;
    background: lightgreen
}

.focus {
    border: 1px solid red;
    background: lightcoral;
}